DOXYFILE_ENCODING      = UTF-8
PROJECT_NAME           = "pysonar2"
OUTPUT_LANGUAGE        = Chinese

CREATE_SUBDIRS         = NO
OPTIMIZE_OUTPUT_JAVA   = YES

INPUT=/Users/berryjam/Documents/workspace/MyCameraApp










OUTPUT_DIRECTORY=/tmp
RECURSIVE = yes

LOOKUP_CACHE_SIZE      = 1

EXTRACT_ALL            = YES
EXTRACT_PRIVATE        = YES
EXTRACT_PACKAGE        = YES
EXTRACT_STATIC         = YES
EXTRACT_LOCAL_CLASSES  = YES
EXTRACT_LOCAL_METHODS  = YES
EXTRACT_ANON_NSPACES   = YES

REFERENCED_BY_RELATION = YES
REFERENCES_RELATION    = YES

GENERATE_HTML = NO
GENERATE_XML = YES

GENERATE_HTMLHELP = NO
GENERATE_LATEX = NO
GENERATE_RTF = NO
GENERATE_MAN = NO

SHOW_USED_FILES        = NO
SHOW_FILES             = NO
SHOW_NAMESPACES        = NO

#QUIET                  = YES
WARN_LOGFILE           = warn.log